In [2]:
#This cell is a code cell.  Pressing shift-enter or using the "Run Cell" button will evaluate the code in this cell.
#The "Run Cell" button looks like a little black triangle.
#Run the code in this cell.

print("hello world")

hello world

In [3]:
#create a variable named a, and store the value 3+1 in it
a = 3+1

#display a
print(a)

4

In [4]:
#you can combine multiple objects in the same print statement

print("three plus one is", a)

three plus one is 4

In [8]:
#Note that the usual Python convention is to separate words in variable names using underscores

first_name = "Aparna"
last_name = "Philkana"
print(first_name,last_name)

Aparna Philkana

In [9]:

#We can use the tab or "\t" and newline or "\n" characters to format our output.
#Adjust the output below so that your first and last name appear in the appropriate column.

print("Given Name","\t","Surname","\n",first_name,"\t",last_name)

Given Name 	 Surname
 Aparna 	 Philkana

In [17]:
#We can also combine strings using the + operator.
#Adjust the output below so that it includes a space between your first and last name.
print(first_name+" "+last_name)

Aparna Philkana

In [20]:
#Find a function that will convert your given name to uppercase.
first_name.upper()

'APARNA'